
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
   display: flex;
   justify-content: flex-end;
   width: 100%;
   background-image: linear-gradient(#55a2b9, #979997);

    
}

.navbar button{
   
    border-radius: 10px;
    margin-right: 10px;
}
.navbar p{
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: white;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.main-container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 14px 20px;
    font-size: 20px;
    color: #cac7ff;
   
}

::placeholder{
    color: #cac7ff;
}
.search-bar button img{
  width: 25px;

}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #586295;
    cursor: pointer;
}



/* second page */
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    
}

.container h1{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#second-button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-left: 50px;

}

.details {
    padding: 2px 2px;
    color: black;
    text-shadow: 1px 1px #bbb;
    text-align: center;
}

#card-container
{
    display: flex;
    justify-content: center;
    padding-top: 10px 10px;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

  .card{
    height: 200px;
    width: 200px;
    transition: 2s;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 2px 2px;
    color: black;
    text-shadow: 1px 1px #bbb;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px 10px;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;


}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin-bottom: 0;
}